html, body {
    /* position:  fixed; */
    margin: 0;
    padding: 0;
	font-family: 'Nanum Myeongjo', serif;
	
  }

canvas {
    display: block;
    position:fixed; 
    left:0; 
    top:0; 
    z-index:-1
}

#blocker {
	position: absolute;
	width: 100%;
	height: 100%;
	
	background-color: rgba(0,0,0,0.3);

}

#instructions {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	line-height: 3vh;

	text-align: center;
	font-size: 14px;
	cursor: pointer;

}

#guide{

	/* position: fixed; */
	/* bottom:1vh; */
	/* left: 50%; */
	/* display: flex;  */
	color:black; 
	/* flex-direction: column; */
	/* justify-content: center; */
	/* align-items: center; */
	/* line-height: 3vh; */

	/* text-align: center; */
	/* font-size: 14px; */
	

}

h1{	
	margin: 0;
	/* background-color: #000; */
	text-align: center;
	color: #fff;
	font-family: 'Nanum Myeongjo';
	letter-spacing: 0.13rem;
	font-size: 7vh;
	font-weight: 720;
	line-height: 9vh;
	/* overscroll-behavior: none; */
}

h2{	
	margin: 0;
	/* background-color: #000; */
	color: #fff;
	/* font-family: cursive; */
	font-family: 'Nanum Myeongjo';
	letter-spacing: 0.05rem;
	font-weight: 100;
	font-size: 3.5vh;
	line-height:1.3em;
	text-align: center;
	overscroll-behavior: none;

}

h3{
	font-family: 'Nanum Myeongjo';
	font-weight: 700;
	letter-spacing: 0.13rem;
	font-size: 4vh;	
}


p{
	font-size: 2.2vh;
}

body {
	margin: 0;
	background-color: #000;
	color: #fff;
	/* font-family: cursive; */
	font-size: 2vh;
	line-height: 2vh;
	overscroll-behavior: none;
}


#info {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* font-family: cursive; */
	font-Size:3vh;
	width: 100%;
	/* opacity: 0; */
	/* position: absolute; */
	/* top: 0px; */
	/* padding: 30vh; */
	
	
	
	box-sizing: border-box;
	text-align: center;
	line-height: 3.4vh;

	z-index: 1; 
	animation: fadeInAnimation;
	animation-duration: 5s;
	animation-iteration-count: 1; 
	animation-fill-mode: forwards; 


}


b{
	font-weight: 800;
}

@keyframes fadeInAnimation {

	0% {opacity: 0; }
	100% {opacity: 1;}
	
	}



a, button, input, select {
	pointer-events: auto;
}
